<%# partial per visualizzare elenco di ricette  %>


<ul class="thumbnails">


        <div class="thumbnail">
          <%=link_to image_tag("piatto.png"),recipe_path(recipe) %>
          <div class="caption">
            <p><%= link_to recipe.name, recipe_path(recipe) %> </p>
            <!--<p><span class="timestamp">-->
                    <!--Posted <%= time_ago_in_words(recipe.created_at) %> ago-->
                <!--</span></p>-->

            <!--<% if current_user?(recipe.user) %>-->


            <!--<% end %>-->
          </div>
        </div>


    </ul>












