<%# partial per visualizzare elenco di ricette  %>


<ul class="thumbnails">
<li class="span3">
        <div class="thumbnail">
          <%=link_to image_tag("piatto.png") %>
          <div class="caption">
            <%= link_to recipe.name, recipe_path(recipe) %>
            <!--<p><span class="timestamp">-->
                    <!--Posted <%= time_ago_in_words(recipe.created_at) %> ago-->
                <!--</span></p>-->

            <!--<% if current_user?(recipe.user) %>-->


            <!--<% end %>-->
          </div>
        </div>
      </li>
    </ul>











