<% #Provide the page title in a symbol to application.html.erb to avoid duplication  %>
<% provide :title, 'Ricettario' %>

<h1>Ricettario</h1>

<div class="container-fluid">
  <div class="row-fluid">
  <%= render @recipes %>


<%= link_to new_recipe_path do %> <%= t(:"Crea una nuova ricetta").html_safe %>
<% end %>
</div>
</div>
